// Imports -------------------------------------------------------------------

@import "compass";
@import "base";
@import "blueprint";
@import "compass/reset";

/* Layout ------------------------------------------------------------------*/

.container {
  @include container;
  // @include susy-grid-background;
  font-family: helvetica;
//   clear: both;
//   position: relative;
// top: -104px;
}

@font-face {
  font-family: "leaguegothic";
  src: url('/font/League_Gothic.otf');
}

a {
  color: #dc244e;
  text-decoration: none;
}

$pinkish : #dc244e;
header.banner {
  background: url('/images/larubybannerstrips.png');
  height: 134px;
  div.icon-labuildings {
    clear: both;
    display: block;
    float: left;
    height: 121px;
    left: 4px;
    margin: 0 auto;
    position: relative;
    top: 16px;
    width: 346px;
  }
  div.icon-larubyribbon {
    clear: both;
    display: block;
    height: 48px;
    margin: 0 auto;
    position: relative;
    width: 312px;
    z-index: 2;
    span {
      color: white;
      font-family: 'leaguegothic', helvetica;
      font-size: 24px;
      left: 42px;
      position: absolute;
      text-shadow: 1px 1px 1px black;
      top: 5px;
      z-index: 3;
      &.about {
        left: 228px;
      }
      a {
        color: white;
      }
    }
  }
  div.icon-larubylogo {
    clear: both;
    display: block;
    height: 169px;
    margin: 0 auto;
    position: relative;
    top: -102px;
    width: 203px;
  }
  div.icon-hollywood {
    float: right;
    height: 71px;
    position: relative;
    top: -103px;
    width: 346px;
    z-index: 1;
  }
}

section {
  @include columns(3);
  // padding-left: 20px;
  &.center {
    @include columns(6);
    background: #ECE6E6;
    padding-right: 33px;
    margin-right: 0;
    min-height: 600px;
    header {
      margin-left: 10px;
    }
    article {
      padding: 20px;
      line-height: 20px;
    }
  }
  &.last {
    line-height: 18px;
    header {
      margin-left: 10px;
    }
    div {
      margin-left: 10px;
      &.name {
        color: $pinkish;
        font-weight: 700;
        margin-top: 36px;
      }
      &.time {
        font-size:12px;
      }
    }
  }
  header {
    color: #005db8;
    font-size: 18px;
    font-family: helvetica;
    margin-top: 70px;
  }
  .info {
    line-height: 17px;
    margin-top: 35px;
    .bold {
      font-weight: 700;
    }
    ul {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
}

#LARubyfeed {
  li {
    float: left;
    margin-top: 40px;
    a.tweet_avatar {
      float: left;
      padding: 0 20px 0 20px;
    }
  }
  span.tweet_text {
    margin-top: 20px;
  }
  span.tweet_time {
    clear: both;
    font-size: 14px;
    float: left;
    padding-left: 90px;
    a {
      color: #005db8;
    }
  }
}

// footer {
//   @include full;
//   @include pad(3,3);
// }
