%div.contents.container
  %section
    %header About laruby
    .info
      LA Ruby is a roving programming group that started meeting in September 2006. Our meetings are on the second Thursday of each month, and we are always looking for new locations to meet. Our previous hosts include:
      %ul
        %li
          Los Angeles Times
        %li
          UCLA
        %li
          AT&T Interactive
        %li
          CPO Commerce
  %section.center
    .about
      %header Presentations
      %article
        Presentations have covered Ruby and associated development tools. Our members are web developers, system administrators, QA engineers, and others. Our Rubyists are hobbyists and professionals, experts and neophytes.
    %header About laruby.com
    %article
      %span
        laruby.com is a collaborative effort of LA Ruby.
      %span
        See the meetup page for more information:
        %a{:href => 'http://www.meetup.com/laruby/'}LA Ruby Meetup
      %span
        Source code available on github:
        %a{:href => 'https://github.com/laruby/laruby.com'}Source Code
  %section.last
    %header LARuby meetup
    - @meetups.each do |meetup|
      .name
        = meetup.name
      .time
        = meetup.time.to_s.split('T').join(' ')
      .url
        %a{:href => "#{meetup.event_url}"}
          RSVP
-# %footer
-#   footer
