%div.contents.container
  %section
    %header About laruby
    .info
      LA Ruby is a roving programming group that started meeting in September 2006. Our meetings are on the second Thursday of each month, and we are always looking for new locations to meet. Our previous hosts include:

      %ul
        %li
          Los Angeles Times
        %li
          UCLA
        %li
          AT&T Interactive
        %li
          CPO Commerce
        %li
  %section.center
    %header Presentations
    Presentations have covered Ruby and associated development tools. Our members are web developers, system administrators, QA engineers, and others. Our Rubyists are hobbyists and professionals, experts and neophytes.
  %section.last
    %header LARuby meetup
-# %footer
-#   footer
