%div.contents.container
  %section
    %header LARuby on the web
    .info
      %ul
        %li
          %a{:href => 'meetup.com/laruby'}
            Meetup.com
        %li
          Follow
          %a{:href => 'twitter.com/laruby'} laruby
          on twitter
        %li
          %a{:href => 'http://www.linkedin.com/groups/LARuby-1089287?gid=1089287'} LinkedIn group
        %li
          Code Jam
          %a{:href => 'http://groups.google.com/group/laruby-codejam'} LARuby
        %li
          IRC:
          %span.bold #laruby
          channel on Freenode
        %li
          %a{:href => 'github.com/laruby'}LARuby
          on Github
  %section.center
    %header #LARuby on Twitter
    #LARubyfeed
  %section.last
    %header LARuby meetup
    - @meetups.each do |meetup|
      = meetup.name
      = meetup.time
      = meetup.event_url
-# %footer
-#   footer
