%div.contents.container
  %section
    %header LARuby on the web
    .info
      %ul
        %li
          %a{:href => 'http://meetup.com/laruby'}
            Meetup.com
        %li
          Follow
          %a{:href => 'http://twitter.com/laruby'} laruby
          on twitter
        %li
          %a{:href => 'http://www.linkedin.com/groups/LARuby-1089287?gid=1089287'} LinkedIn group
        %li
          Code Jam
          %a{:href => 'http://groups.google.com/group/laruby-codejam'} LARuby
        %li
          IRC:
          %span.bold #laruby
          channel on Freenode
        %li
          %a{:href => 'http://github.com/laruby'}LARuby
          on Github
  %section.center
    .tagline
      BRINGING TOGETHER THE LOS ANGELES RUBY COMMUNITY
    %header #LARuby on Twitter
    #LARubyfeed
    .showmore
      %a{:href => 'http://twitter.com/laruby'}
        Show more tweets
    %footer
      Design and logo are courtesy of
      %a{:href => 'http://hybridgroup.com'} The Hybrid Group
  %section.last
    %header LARuby meetup
    - @meetups.each do |meetup|
      .name
        = meetup.name
      .time
        = meetup.time.to_s.split('T').join(' ')
      .url
        %a{:href => "#{meetup.event_url}"}
          RSVP
-# %footer
-#   footer
