%h1
  Listing Requested Presentations
- @presentations.each do |presentation|
  %div{:style => "border: 1px solid grey"}
    = h presentation.subject
    = h presentation.submitter.name
    %div= h presentation.description

%br
= link_to 'Request a Presentation', new_presentation_path
