h1#logo {
  margin-bottom: 0px; }
  h1#logo span {
    color: #ff0000; }

h2 {
  border-bottom: 1px solid #ccc; }

ul#navigation {
  margin-bottom: 20px;
  margin-left: 0px; }
  ul#navigation li {
    margin-left: 0px;
    float: left;
    list-style: none;
    text-decoration: none;
    margin-right: 10px; }
    ul#navigation li a {
      color: #0000EE;
      text-decoration: none; }

#content ul li {
  margin-left: 0px; }
