%p
  %b Login:
  =h @user.login
%p
  %b Meetup Status:
  = @user.meetup_id.nil? ? "Linked" : "Unlinked"
- if @user.meetup_id.nil?
  = link_to "Link My Account", ""

%p
  %b Last login at:
  =h @user.last_login_at

= link_to 'Edit', edit_account_path