%h2 About laruby
%p
  LA Ruby is a roving programming group that started meeting in September 2006.  Our meetings are on the second Thursday of each month,
  and we are always looking for new locations to meet.  Our previous hosts include:
  %ul
    %li Los Angeles Times
    %li UCLA
    %li AT&amp;T Interactive
    %li CPO Commerce

%h2 Presentations
%p
  Presentations have covered Ruby and associated development tools.  Our members are web developers, system administrators, QA engineers,
  and others.  Our Rubyists are hobbyists and professionals, experts and neophytes.

%h2 About laruby.com
%p
  laruby.com is a collaborative effort of LA Ruby.
%p
  See the meetup page for more information:
  = link_to 'LA Ruby Meetup', 'http://meetup.com/laruby'
%p
  Source code available on github:
  = link_to 'Source Code', 'http://github.com/laruby/laruby.com/tree/master'
