-# I would invision this to have all of our activity agregated and truncated from all places.
-# E.g. meetup.com, github commits, twitters, etc
-# we may even want to have the data customizable once we have logins, so that people can decide
-# what they want to see and such
-# something a lot like http://www.redmine.org/projects/redmine/activity

%h2 Recent #{laruby} Activity 
#larubyTweets

-# Not yet implemented but just ideas
-#larubyGithubCommits
-#larubyMeetupNews
-#larubyLinkedinNews
-#larubyMeetupNews
-#larubyCodeJamDiscussions
